<div *ngIf="form">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 offset-2">
        <label class="col-form-label" for="email">Email</label>
        <input class="form-control" id="email" type="email" name="email" formControlName="email" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-2">
        <label for="password">Hasło</label>
        <input class="form-control" id="password" type="password" name="password" formControlName="password" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 offset-2 text-center">
        <button class="btn btn-primary" (click)="onSubmit()">Zaloguj</button>
      </div>
    </div>
  </form>
</div>
