################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/FakeRFIDCard/bin/Debug/netcoreapp2.2
