################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/FakeRFIDCard/bin/Debug/netcoreapp2.2
/FakeRFIDCard/obj
/.vs/SAD/v15
/.vs/SAD/v16
