<div>
  <button class="btn btn-primary" [routerLink]='["/users/form"]'>Dodaj</button>
  <table class="table">
    <tr class="thead-light">
      <th>Imię i nazwisko</th>
      <th>Email</th>
      <th>Ilość kart</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users$ | async">
      <td>{{user.fullName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.cardsNumber}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/users/form', user.id]">Edytuj</button>
        <button class="btn btn-danger" (click)="block(user.id)">Zablokuj</button>
      </td>
    </tr>
  </table>
</div>
